body {
  font-family: 'cabin', sans-serif;
}

.carousel-indicators li {
  width: 10px;
  height: 10px;
  border-radius: 50%;
  background-color: #373A3C!important;
}


#navbarNavAltMarkup {
  font-weight: 400;
  font-size: 16px;
}

h5 {
  font-weight: 700;
  font-size: 40px;
  color: #373A3C;
  font-family: 'cabin', sans-serif;
}

h6 {
  font-weight: 700;
  font-size: 20px;
  color: #373A3C;
  font-family: 'cabin', sans-serif;
}

.btn {
  color: #373A3C!important;
  font-size: 16px!important;
  font-family: 'cabin', sans-serif!important;
  font-weight: 400!important;
  border-color: #DDDDDD!important;
}

#ingredientes {
  font-family: 'cabin', sans-serif;
  font-weight: 400;
  font-size: 20px;
  color: #373A3C;
}

h1{
  font-weight: 700;
  font-size: 40px;
  color: #373A3C;
  font-family: 'cabin', sans-serif;
}

.card-body h5{
  font-weight: 700;
  font-size: 23px;
  color: #373A3C;
  font-family: 'cabin', sans-serif;
}

.card-body h5{
  font-weight: 700;
  font-size: 23px;
  color: #373A3C;
  font-family: 'cabin', sans-serif;
}

.linea {
  border-top: 2px solid gray;
}

.newsletter {
  color: #FFFFFF;
  text-align: center;
}

.newsletter h1 {
  color: #FFFFFF;
  font-weight: 700;
  font-size: 40px;
  font-family: 'cabin', sans-serif;
}

.newsletter h2 {
  font-weight: 400;
  font-size: 30px;
  font-family: 'cabin', sans-serif;
}

.newsletter span {
  font-family:'lobster', cursive;
  font-weight: 400;
  font-size: 30px;
}

.newsletter button{
  color: #FFFFFF!important;
}

.footer h3{
  font-family:'lobster', cursive!important;
  font-weight: 400;
  font-size: 37px;
  color: #FFFFFF;
}

.navbar-brand h3{
  font-family:'lobster', cursive;
  font-weight: 400;
  font-size: 37px;
  color: #FFFFFF;
}
